/elastxy-web/.classpath
/elastxy-web/.settings/*
/elastxy-web/.project
/elastxy-distributed/.settings/*
/elastxy-distributed/.classpath
/elastxy-distributed/.project
/.settings/*
/elastxy-singlecolony-archetype/.settings/*
/elastxy-singlecolony-archetype/.project
/elastxy-singlecolony-archetype/.classpath
/elastxy-multicolony-xo-archetype/.settings/*
/elastxy-multicolony-xo-archetype/.project
/elastxy-multicolony-xo-archetype/.classpath
.project
*.prefs
/bin/
.classpath
