/elastxy-applications/.settings/*
/elastxy-applications/.classpath
/elastxy-applications/.project
/elastxy-web/.classpath
/elastxy-web/.settings/*
/elastxy-web/.project
/elastxy-distributed/.settings/*
/elastxy-distributed/.classpath
/elastxy-distributed/.project
/.settings/*
elastxy-app-archetype/.settings/*
elastxy-app-archetype/.project
elastxy-app-archetype/.classpath
algen/elastxy-core/.settings/*
algen/elastxy-core/.classpath
algen/elastxy-core/.project
.project
*.prefs
/bin/
.classpath
